span:has(+ ul) {
  font-weight: bold;
}

[draggable="true"],
.drag {
  opacity: 0.5;
}
[draggable="true"] {
  cursor: grabbing !important;
}
li {
  cursor: grab;
}

ul.tree,
ul.list {
  list-style: none;
  padding-left: 0;
  margin: 0 !important;
}
ul.tree li,
ul.list li {
  margin: 0;
}
ul.tree li > span,
ul.list li > span {
  display: flex;
  align-items: center;
  width: 100%;
  background: #f5f5f5;
  color: var(--vp-c-text-1);
  border-radius: 5px;
  padding: 7px 12px !important;
}

ul.tree li > span {
  margin-bottom: 4px;
}
ul.tree ul.tree {
  padding-left: 20px;
}

li {
  list-style: none;
}

@keyframes drop {
  0% {
    filter: brightness(0.95) saturate(2);
  }
  5% {
    filter: brightness(0.9) saturate(3);
  }
  100% {
    filter: brightness(1) saturate(1);
  }
}
.drop {
  animation: drop 0.35s ease;
}

.dragOver {
  opacity: 0.8 !important;
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.2s cubic-bezier(0.57, 0.03, 0.51, 0.94);
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.list-leave-active {
  position: absolute;
}
/* 
:root {
  font-size: 24px;
  --backgroundColor: rgba(255, 255, 255);
  --squareColor: rgba(100, 100, 100, 0.1);
  --squareSize: 0.5em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroundColor: rgb(0, 0, 0);
  }
}

.checkered {
  padding: 20px;
  border-radius: 5px;
  background-color: var(--backgroundColor);
  background-image: linear-gradient(
      45deg,
      var(--squareColor) 25%,
      transparent 25%
    ),
    linear-gradient(135deg, var(--squareColor) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--squareColor) 75%),
    linear-gradient(135deg, transparent 75%, var(--squareColor) 75%);
  background-size: calc(2 * var(--squareSize)) calc(2 * var(--squareSize));
  background-position:
    0 0,
    var(--squareSize) 0,
    var(--squareSize) calc(-1 * var(--squareSize)),
    0 calc(-1 * var(--squareSize));
} */
