[draggable="true"],
.drag {
  opacity: 0.5;
}
[draggable="true"] {
  cursor: grabbing !important;
}
li {
  cursor: grab;
}

.selected {
  box-shadow: inset -200px -200px 0px 200px rgba(0, 0, 0, 0.2);
}

@keyframes drop {
  0% {
    filter: brightness(0.95) saturate(2);
  }
  5% {
    filter: brightness(0.9) saturate(3);
  }
  100% {
    filter: brightness(1) saturate(1);
  }
}
.drop {
  animation: drop 0.35s ease;
}

.dragOver {
  opacity: 0.8 !important;
}

ul.tree,
ul.list {
  list-style: none;
  padding-left: 0;
  margin: 0 !important;
}

ul.tree > li > span > button {
  position: absolute;
  left: 5px;
}
ul.tree > li.hasChildren > span {
  font-weight: bold;
}
ul.tree > li > span > button {
  transform: rotate(90deg);
}
ul.tree > li.collapsed > span > button {
  transform: rotate(0deg);
}
ul.tree > li > span {
  position: relative;
}
ul.tree li,
ul.list li {
  margin: 0;
}

ul.tree > li > span {
  display: flex;
  gap: 6px;
  align-items: center;
  border-radius: 5px;
  padding: 5px 12px 5px 25px !important;
  /* color: var(--vp-c-text-1); */
}
ul.tree > li > span:hover {
  background: #f5f5f5;
}

.list-item {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  background: #fff;
  color: #000;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 8px 10px;
}

ul.tree ul.tree {
  padding-left: 20px;
}

li {
  list-style: none;
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.2s cubic-bezier(0.57, 0.03, 0.51, 0.94);
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.list-leave-active {
  position: absolute;
}

:root {
  --backgroundColor: rgba(255, 255, 255);
  --squareColor: rgba(100, 100, 100, 0.06);
  --squareSize: 0.5em;
}
.demo {
  color: #000;
  max-height: 400px;
  outline: 1px solid #eee;
  overflow: auto;
  overscroll-behavior: contain;
  padding: 12px;
  border-radius: 5px;
  background-image: linear-gradient(
      45deg,
      var(--squareColor) 25%,
      transparent 25%
    ),
    linear-gradient(135deg, var(--squareColor) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--squareColor) 75%),
    linear-gradient(135deg, transparent 75%, var(--squareColor) 75%);
  background-size: calc(2 * var(--squareSize)) calc(2 * var(--squareSize));
  background-position:
    0 0,
    var(--squareSize) 0,
    var(--squareSize) calc(-1 * var(--squareSize)),
    0 calc(-1 * var(--squareSize));
}
