span:has(+ ul) {
  font-weight: bold;
}

[draggable="true"],
.dragging {
  opacity: 0.5;
}
[draggable="true"] {
  cursor: grabbing;
}
li {
  cursor: grab;
}

ul.tree,
ul.list {
  list-style: none;
  padding-left: 0;
  margin: 0 !important;
}
ul.tree li,
ul.list li {
  margin: 0;
}
ul.tree li > span,
ul.list li > span {
  display: inline-block !important;
  width: 100%;
  background: #f9f9f9;
  border-radius: 5px;
  padding: 7px 12px !important;
  /* border: 2px solid #fff; */
  margin-bottom: 4px;
}
ul.tree ul.tree {
  padding-left: 20px;
}

li {
  list-style: none;
}
@keyframes drop {
  0% {
    background: rgba(0, 0, 0, 0.1) !important;
  }
  10% {
    background: rgba(0, 0, 0, 0.2) !important;
  }
  100% {
    background: rgba(240, 240, 240, 1) !important;
  }
}
.drop {
  animation: drop 0.35s ease;
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.2s cubic-bezier(0.57, 0.03, 0.51, 0.94);
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.list-leave-active {
  position: absolute;
}
