/* Added to drag element on mousedown */
.drag {
  opacity: 0.5;
}
.drag,
.drag * {
  cursor: grabbing !important;
}

/* Added to potential drop element while dragging over */
.dragover {
  opacity: 0.8;
  cursor: grabbing;
}

/* Added to drag element on drop */
.drop {
  animation: drop 0.35s ease;
}

@keyframes drop {
  0% {
    box-shadow: inset -200px -200px 0px 200px rgba(0, 0, 0, 0.3);
  }
  100% {
    box-shadow: inset -200px -200px 0px 200px rgba(0, 0, 0, 0);
  }
}

/* Selected element class */
.selected {
  box-shadow: inset -200px -200px 0px 200px rgba(0, 0, 0, 0.2);
}
